html {
    font-family: "Trebuchet MS";
    background: LightBlue;
    padding: 1rem;
    color: Black
}

body {
    max-width: 750px;
    margin: 0 auto;
}

h1, h2 {
    color: Black;
    font-family: "Trebuchet MS";
    margin: 1rem 0;
    text-align: center;
}

th {
    color: Black;
    font-family: "Trebuchet MS";
    margin: 1rem 0;
    text-align: left;
}

a {
    color: CornflowerBlue;
    text-decoration: underline;
}

hr {
    border: none;
    border-top: 3px solid Grey;
}

nav {
    display: block;
    background: AntiqueWhite;
    padding: 0 0.5rem;
    border-radius: 25px;
}

.sidenav {
    text-align:center
}

.BACK {
    position: relative;
    text-align: left;
}

.NEXT {
    position: relative;
    left: 675px;
    bottom: 39px;
}

.CENTER{
    text-align: center;
}

 button {
    display: inline-block;
    border: none;
    background-color: white;
    padding: 10px 25px;
    font-size: 12px
    color: #484E4B;
 }

 button:hover {
    display: inline-block;
    border: none;
    background-color: #AAB3C7;
    padding: 10px 25px;
    color: #484E4B;
 }