<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<title>Different Types of Voting Systems</title>

{% block header %}
    <h1>Types of Voting Systems</h1>
{% endblock %}

{% block explain %}
    <p>This website will be using Rank Choice Voting (RCV) data to explain different voting systems!</p>
    <p>There are 2 fairness criteria that you would want from a system:</p>
    <ul>
        <li>Independence of Irrelevant Alternatives (IIA):</li>
        <li>Pareto Efficiency (PE):</li>
    </ul>
    <p>The only voting system that satisfies these criteria is dictatorship</p>
{% endblock %}

{% block links %}
    <form method = post>
        <label for = 'system'>Choose a voting system:</label>
        <select id = 'system' name = 'system'>
            <option value = 'render_plurality'>Plurality</option>
            <option value = 'render_borda'>Borda Count</option>
            <option value = 'render_rcv'>Rank Choice Voting (RCV)</option>
            <option value = 'render_toptwo'>Top-Two Run-Off</option>
        </select>
        <input type="submit" name = "submit" value="Submit">
    </form>
{% endblock %}

{% block header2 %}
{% endblock %}

{% block content %}
{% endblock %}

<a href = "{{ url_for('render_intro') }}" >
    <button>BACK</button>
</a>

<a href = "{{ url_for('render_choice') }}" >
    <button>NEXT</button>
</a>