<title>Different Types of Voting Systems</title>

{% block header %}
    <h1>Types of Voting Systems</h1>
{% endblock %}

{% block content %}
    <p>This website will be using Rank Choice Voting (RCV) data to explain different voting systems!</p>
{% endblock %}

{% block links %}
    <p><a href="/plurality/">Plurality</a></p>
    <p><a href="/bordacount/">Borda Count</a></p>
    <p><a href="/rankchoice/">Rank Choice</a></p>
{% endblock %}

{% block header2 %}
{% endblock %}

{% block definition %}
{% endblock %}