<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<title>Different Types of Voting Systems</title>

{% block header %}
    <h1> Know Your Voting Systems </h1>
    <h2>(and why they are bad)</h2>
    
    <ul class = "nav">
        <li><a href="{{ url_for('render_main')  }}">Home</a></li>
        <li><a href="{{ url_for('render_intro')  }}">What Is R.C. Voting</a></li>
        <li><a href="{{ url_for('render_intro2')  }}">Fairness of R.C. Voting</a></li> 
        <li><a href="{{ url_for('render_start')  }}">Play With Voting</a></li>
        <li><a href="{{ url_for('render_choice')  }}">Vote for Your Favorite System</a></li>
    </ul>
{% endblock %}

{% block text %}
{% endblock %}

{% block links %}
{% endblock %}

{% block line %}
{% endblock %}

{% block header2 %}
{% endblock %}

{% block content %}
{% endblock %}

{% block plot %}
{% endblock %}

{% block results %}
{% endblock %}

{% block button %}
{% endblock %}