{% extends 'base.html' %}

{% block header2 %}
  <h2>{% block title %}Borda Count{% endblock %}</h2>
{% endblock %}

{% block content %}
    <p>Each first-place vote counts as 5 points, each second-place vote counts as 4, etc, add up the number of points</p>
    <br>
    {{  bordaDF_og | safe }}
    <br>
    <p>Assign point values for each rank:</p>
    <form method = post> 
        <label for="rank1">Rank 1:</label>
        <input type="number" name = "rank1">
        <br>
        <label for="rank2">Rank 2:</label>
        <input type="number" name = "rank2">
        <br>
        <label for="rank3">Rank 3:</label>
        <input type="number" name = "rank3">
        <br>
        <label for="rank4">Rank 4:</label>
        <input type="number" name = "rank4">
        <br>
        <label for="rank5">Rank 5:</label>
        <input type="number" name = "rank5">
        <br>
        <input type="submit" name="submit" value="Submit Rank Values">
    </form>

    {% if bordaDF_interact %}
    <br>
    {{  bordaDF_interact | safe }}
    {% endif %}
{% endblock %}