{% extends 'littlebase.html' %}

{% block header2 %}
  <h2>{% block title %}Borda Count{% endblock %}</h2>
{% endblock %}

{% block content %}
    
    <p>
      The borda count voting system works as follows. Suppose there are n many candidates. Voters rank
      their choices in order of first, second, third, all the way until n-th place. For each first 
      place vote a candidate receives, the candidate is given n points. For each second place vote a choice 
      receives, the choice is given n-1 points. In general, for each k-th place vote a choice receives, 
      the choice is given n+1-k points. The voting system then ranks the choices in order of most points 
      earned to least points earned. The winner is the choice with the most points. 
    </p>

    <p>
      Below are the rankings determined by borda count on the Alaska dataset depicted in a chart as well as a bar graph.
      In this example, n equals 5 (although there are more than 5 candidates, Alaskans were only allowed to rank 5 of them.
      Candidates that were not ranked by a voter recieved no points from that voter.) We see that Biden wins with Sanders as
      a close second.
    </p>
    

    <br>
    <div class="table">
      {{  bordaDF_og | safe }}
    </div>
    <br>
    <div id='chart' class='chart'></div>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
      var graphs = {{borda_plot_og | safe}};
      Plotly.plot('chart',graphs,{});
    </script>
    <br>
    <p>Instead of using the standard point assignment for borda count, assign you own point values for each rank below!</p>
    <form method = post> 
        <label for="rank1">Rank 1:</label>
        <input type="number" name = "rank1">
        <br>
        <label for="rank2">Rank 2:</label>
        <input type="number" name = "rank2">
        <br>
        <label for="rank3">Rank 3:</label>
        <input type="number" name = "rank3">
        <br>
        <label for="rank4">Rank 4:</label>
        <input type="number" name = "rank4">
        <br>
        <label for="rank5">Rank 5:</label>
        <input type="number" name = "rank5">
        <br>
        <input type="submit" name="submit" value="Submit Rank Values">
    </form>
    <br>

    {% if bordaDF_interact %}
    <hr class="solid">
    <br>
    These are the points you chose for each ranking:
    <br>
    <ul>
    <li><b>Rank 1:</b> {{ Rank_1 }} points</li>
    <li><b>Rank 2:</b> {{ Rank_2 }} points</li>
    <li><b>Rank 3:</b> {{ Rank_3 }} points</li>
    <li><b>Rank 4:</b> {{ Rank_4 }} points</li>
    <li><b>Rank 5:</b> {{ Rank_5 }} points</li>
</ul>
    <br>
    <br>
    <div class="table">
      {{  bordaDF_interact | safe }}
    </div>
    <br>
    <div id='chart2' class='chart2'></div>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
      var graphs = {{borda_plot_interact | safe}};
      Plotly.plot('chart2',graphs,{});
    </script>
    {% endif %}
{% endblock %}

{% block results %}
    <br>
    <hr class="solid">
    <br>
    <p>
      Let's discuss borda count more generally.
    </p>    

    <p>
      Using the standard point assignment, it is easy to see that borda count must abide by the fairness principle of unanimity.
      If every voter prefers candidate A to candidate B, then candidate A will recieve more points then candidate B. So, we know 
      by Arrow's impossibility theorem that borda count with the standard point assignment cannot satisfy the IIA condition.
      Indeed, consider the example of five candidates A, B, C, D, E and 5 voters which vote as follows:
      <ul>
        <li>three voters rank A first, B second, C third, D fourth, and E fifth;</li>
        <li>one voter ranks C first, D second, E third, B fourth, and A fifth;</li>
        <li>one voter ranks E first, C second, D third, B fourth, and A fifth.</li>
      </ul>
      Standard borda count will then give C 18 points, A 17 points, B 16 points, D 13 points, and E 11 points. However, if the voters instead 
      respectively voted as follows
      <ul>
        <li>three voters rank A first, B second, C third, D fourth, and E fifth (the same as before);</li>
        <li>one voter ranks C first, B second, E third, D fourth, and A fifth (switching B and D);</li>
        <li>one voter ranks E first, C second, B third, D fourth, and A fifth (switching B and D);</li>
      </ul>
      then standard borda count gives B 19 points, C 18 points, A 17 points, D 10 points, and E 11 points. So, even though in the two scenarios each
      voter's preference between A and B did not change, the overall results changed from preferring A over B to preferring B over A. This means
      standard borda count does not satisfy IIA!
    </p>

    <p>
      Try yourself to come up with a custom borda count point assignment that does not even satisfy unanimity!
    </p>
{% endblock %}