{% extends 'bigbase.html' %}

{% block header2 %}
  <h2>{% block title %}Rank Your Favorite Voting Systems!{% endblock %}</h2>
{% endblock %}

<br>
{% block content %}
<form method="post">
  <label for="rank1">Rank 1: </label>
  <select name="rank1" id="rank1">
    <option value="Borda Count">Borda Count</option>
    <option value="Dictatorship">Dictatorship</option>
    <option value="Instant Runoff">Instant Runoff</option>
    <option value="Plurality">Plurality</option>
    <option value="Top Two Runoff">Top Two Runoff</option>
  </select>
  <br><br>
  <label for="rank2">Rank 2: </label>
  <select name="rank2" id="rank2">
    <option value="Borda Count">Borda Count</option>
    <option value="Dictatorship">Dictatorship</option>
    <option value="Instant Runoff">Instant Runoff</option>
    <option value="Plurality">Plurality</option>
    <option value="Top Two Runoff">Top Two Runoff</option>
  </select>
  <br><br>
  <label for="rank3">Rank 3: </label>
  <select name="rank3" id="rank3">
    <option value="Borda Count">Borda Count</option>
    <option value="Dictatorship">Dictatorship</option>
    <option value="Instant Runoff">Instant Runoff</option>
    <option value="Plurality">Plurality</option>
    <option value="Top Two Runoff">Top Two Runoff</option>
  </select>
  <br><br>
  <label for="rank4">Rank 4: </label>
  <select name="rank4" id="rank4">
    <option value="Borda Count">Borda Count</option>
    <option value="Dictatorship">Dictatorship</option>
    <option value="Instant Runoff">Instant Runoff</option>
    <option value="Plurality">Plurality</option>
    <option value="Top Two Runoff">Top Two Runoff</option>
  </select>
  <br><br>
  <label for="rank5">Rank 5: </label>
  <select name="rank5" id="rank5">
    <option value="Borda Count">Borda Count</option>
    <option value="Dictatorship">Dictatorship</option>
    <option value="Instant Runoff">Instant Runoff</option>
    <option value="Plurality">Plurality</option>
    <option value="Top Two Runoff">Top Two Runoff</option>
  </select>
  <br><br>
  <input type="submit" value="Click to submit your vote!">
</form>

{% if submitted %}
  <p>Thanks for your vote!</p>
{% endif %}

{% if badsubmit %}
  <p>Please make sure that you only vote for each option once.</p>
{% endif %}

{% endblock %}

{% block results %}
<p>Here are the current favorites based on each voting system.</p>
<li>Borda Count: {{results["borda"]}}</li>
<li>Dictatorship: {{results["dictator"]}}</li>
<li>Instant Runoff: {{results["irv"]}}</li>
<li>Plurality: {{results["plural"]}}</li>
<li>Top Two Runoff: {{results["toptwo"]}}</li>
{% endblock %}

{% block button %}
<br>
<div class = "BACK">
  <a href = "{{ url_for('render_start') }}" >
    <button>BACK</button>
  </a>
</div>
{% endblock %}