{% extends 'base.html' %}

{% block header2 %}
  <h2>{% block title %}Dictatorship{% endblock %}</h2>
{% endblock %}

{% block content %}
    <p> Choose an index between 0 and {{upperbound}}. A corresponding Alaskan voter will be deemed dictator and their top preference will be the winner of the election.</p>
    <form method = post>
      <label for="indexDict">Dictator index:</label>
      <input type="number" name = "indexDict">
      <br>
      <input type="submit" name = "submit" value="Submit choice for dictator">
  </form>

  {% if chooseDict %}
    <br>
    <p>{{ resultDict }}</p>
  {% endif %}

{% endblock %}