{% extends 'bigbase.html' %}

{% block text %}
    <p>Choose your voting system below to see how they affect the Alaska 2020 Democractic Primary Results!</p>
{% endblock %}

{% block links %}
    <form method = post>
        <label for = 'system'>Choose a voting system:</label>
        <select id = 'system' name = 'system'>
            <option value = 'render_plurality'>Plurality</option>
            <option value = 'render_borda'>Borda Count</option>
            <option value = 'render_irv'>Instant Runoff</option>
            <option value = 'render_toptwo'>Top-Two Runoff</option>
            <option value = 'render_dictatorship'>Dictatorship</option>
        </select>
        <input type="submit" name = "submit" value="Submit">
    </form>
{% endblock %}

{% block line %}
<br>
<hr class="solid">
<br>
{% endblock %}

{% block header2 %}
{% endblock %}

{% block content %}
{% endblock %}

{% block plot %}
{% endblock %}

<br>

{% block button %}
<div class = "BACK">
    <a href = "{{ url_for('render_intro2') }}" >
        <button>BACK</button>
    </a>
</div>

<div class = "NEXT">
    <a href = "{{ url_for('render_choice') }}" >
        <button>NEXT</button>
    </a>
</div>
{% endblock %}