{% extends 'base.html' %}

{% block header2 %}
  <h2>{% block title %}Plurality{% endblock %}</h2>
{% endblock %}

{% block content %}
    <p>Just rank the candidates by the number of first-place ballots</p>
    <p>{{to_print}}</p>
    <br>
    {% if pluralityDF %}
      {{  pluralityDF | safe }}
    {% endif %}
{% endblock %}

{% block plot %}
<br>
<div id='chart' class='chart'></div>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
    var graphs = {{graphJSON | safe}};
    Plotly.plot('chart',graphs,{});
</script>
{% endblock %}