{% extends 'base.html' %}

{% block header2 %}
  <h2>{% block title %}Plurality{% endblock %}</h2>
{% endblock %}

{% block content %}
    <p>Just rank the candidates by the number of first-place ballots</p>
    <p>{{to_print}}</p>
{% endblock %}

{% block javascript %}
  <!-- <script>
    graph = JSON.parse({{ graphJSON | tojson }})
    plotly.plot('chart', graphs, {});
  </script> -->

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- <script type="text/javascript">
      var graphs = {{  graphJSON | safe  }};
      Plotly.plot('chart',graphs,{});        
  </script> -->
  {{graphJSON|safe}}
{% endblock %}