{% extends 'littlebase.html' %}

{% block text %}
    <p>In 2020, Alaska employed ranked choice voting for the Democratic party's primary. The data from this election can be found 
        <a href="https://dataverse.harvard.edu/file.xhtml?fileId=6377197&version=5.0" target="_blank">here</a>!</p>
    
    <p>Eight candidates were on the ballot in Alaska for this election: Joe Biden, Bernie Sanders, Elizabeth Warren,
        Pete Buttigieg, Amy Klobuchar, Tulsi Gabbard, Michael Bloomberg, and Tom Steyer. Alaskans were allowed to rank
        their top 5 favorites of these candidates and were also allowed to skip writing down any candidates name for any
        particular spot. For example, one voter ranked Sanders first, skipped rankings 2 through 4, and ranked Biden fifth.</p>

    <p>By selecting a voting system below from the drop-down menu, you can see what the results of the election would be given
        if Alaska had used that particular voting system. Give it a try!</p>
{% endblock %}